{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h4 class="text-center mb-4"><i class="fa-solid fa-graduation-cap"></i> ИТК Аналитика</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn w-100 text-white" style="background-color:#1a237e;">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}